<img src="../assets/ikone/users.gif" class="users">
<form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
  <label>
    <p class="wrong" *ngIf="this.wrongCredentials">
      {{'usernameError' | translate }}
    </p>
    <div *ngIf="username.invalid" class="wrong">
      <p *ngIf="username.errors.minlength">
        {{'usernameWarning' | translate }}
      </p>
    </div>
    <input type="text" formControlName="username" class="input-user" value="username" required (focus)="onFocusEventUser($event)" required >

  </label>
  <br/>
  <label>
    <div *ngIf="password.invalid" class="wrong">
      <p *ngIf="password.errors.minlength">
        {{'passWarning' | translate }}
      </p>
    </div>
    <input type="{{typeInput}}" formControlName="password" class="input-pass" value="password" (focus)="onFocusEventPass($event)" required >
  </label>
  <span>
      <select #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  <br/>
  <button type="submit" [disabled]="!logInForm.valid" class="login-button">{{'button' | translate }}</button>
  <br/><br/>
  <button routerLink="/Registration" class="reg-button">Registration</button>
</form>

