<img src="../assets/ikone/users.gif" class="users">
<form [formGroup]="LogInForm" (ngSubmit)="onSubmit()">

  <label>
    <div class="wrong" *ngIf="this.wrongCredentials">
      {{'usernameError' | translate }}
    </div>
    <div *ngIf="username.invalid" class="wrong">
      <div *ngIf="username.errors.minlength">
        {{'usernameWarning' | translate }}
      </div>
    </div>
    <input type="text" formControlName="username" class="inputUser" value="username" required (focus)="onFocusEventUser($event)" required >

  </label>
  <p></p>
  <label>
    <div *ngIf="password.invalid" class="wrong">
      <div *ngIf="password.errors.minlength">
        {{'passWarning' | translate }}
      </div>
    </div>
    <input type="{{typeInput}}" formControlName="password" class="inputPass" value="password" (focus)="onFocusEventPass($event)" required >
  </label>
  <span>
      <select #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  <p></p>
  <button type="submit" [disabled]="!LogInForm.valid" class="LogInButton">{{'button' | translate }}</button>
  <button routerLink="/Registration" class="RegButton">Registration</button>
</form>
