$desktop:2000px;
$laptop:1024px;
$tablet:768px;
$mobile:480px;
body {
  margin: 30px;
  padding:20px;
  font-family: 'Raleway';
  font-size: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#feedd3), to(#9fcaf5)) fixed;
  @media screen and (max-width:$desktop) and (min-width:$laptop)
  {
    padding: 200px;
    font-size: 22px;

  }
  @media screen and (max-width:$laptop) and (min-width:$tablet)
  {
    font-size: 20px;
    padding: 150px;
  }
}

.glavni-div
{
  margin: 0 auto;
  max-width: 250px;
  height: 300px;
  background-color: transparent;
  border-radius: 3px;
  @media screen and (max-width:$desktop) and (min-width:$laptop)
  {
    max-width: 600px;
    height: 650px;
  }
  @media screen and (max-width:$laptop) and (min-width:$tablet)
  {
    max-width: 500px;
    height: 500px;
  }
}
.sredisnji-div{
  margin: 0 auto;
  padding-top: 20px;
  max-width: 150px;
  height: 250px;
  @media screen and (max-width:$desktop) and (min-width:$laptop)
  {
    max-width: 400px;
    height: 500px;
  }
  @media screen and (max-width:$laptop) and (min-width:$tablet)
  {
    max-width: 300px;
    height: 200px;
  }
}
