<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" xmlns="http://www.w3.org/1999/html">
  <label>
    <div *ngIf="username.invalid" class="wrong">
      <p *ngIf="username.errors.minlength">
        {{'usernameWarning' | translate }}
      </p>
    </div>
    <p *ngIf="usedUsername" class="wrong">
      {{'usernameUsed' | translate }}
    </p>
    <input type="text" formControlName="username" class="input-user" value="username" (focus)="onFocusEventUser($event)" (keyup)="onKeypressEventUser($event)" required >

  </label>
  <br/>
  <label>
    <div *ngIf="mail.invalid" class="wrong">
      <p *ngIf="mail.hasError('pattern')">
        {{'mailWarning' | translate }}
      </p>
    </div>
    <input type="text" formControlName="mail" class="input-user" value="mail" (focus)="onFocusEventMail($event)" required >
  </label>
  <br/>
  <label>
    <div *ngIf="password.invalid" class="wrong">
      <p *ngIf="password.errors.minlength">
        {{'passWarning' | translate }}
      </p>
    </div>
    <input type="{{typeInput}}" formControlName="password" class="input-pass" value="password" (focus)="onFocusEventPass($event)" required >
  </label>
  <br/>
  <label>
    <p *ngIf="wrongPass" class="wrong">
        {{'passConfWarning' | translate }}
    </p>
    <input type="{{typeInput}}" formControlName="confPassword" class="input-pass" value="Confirm password" (focus)="onFocusEventConfPass($event)" (keyup)="onKeypressEventPass($event)" required >
  </label>
  <span>
      <select #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  <br/>
  <button type="submit" [disabled]="!registrationForm.valid||this.wrongPass||this.usedUsername||!this.click[0]||!this.click[1]||!this.click[2]||!this.click[3]" class="reg-button">Registrate</button>
</form>

